#roll-board {
  text-align: center;
  background-image: url(../img/cloth.jpg);
  font-style: 'Coffee Tin';
}

#roll-number {
  text-align: center;
  font-size: 50px;
}

button {
  margin-bottom: 14px;
}
